<message type="info">
	<title>Congratulations!</title>
	<description><img alt="[Valid %(feedType)s]" title="Valid %(feedType)s" src="%(HOMEPATH)s/images/%(graphic)s" /> This is a valid %(feedType)s %(docType)s.</description>
</message>
