</div><!-- main -->
    <ul class="navbar" id="menu">
        <li>
        <a href="./" accesskey="1" title="Go to the Home Page for The W3C Feed Validation Service">Home</a></li>
        <li><a href="about.html" title="Information About this Service">About...</a></li>
        <li><a href="whatsnew.html" title="The changes made to this service recently">News</a></li>
        <li><a href="docs/" accesskey="3" title="Documentation for this Service">Docs</a></li>
    </ul>
    <div id="footer">

<address>
This service uses the <a href="https://github.com/w3c/feedvalidator">Feed validator software</a>. Please report any <a href="https://github.com/w3c/feedvalidator/issues">issues on GitHub</a>.
</address>
</div>
</body>
</html>

