<!DOCTYPE html>
<html lang="en">
  <meta charset=utf-8>
  <head>
<style type="text/css" media="screen">@import "%(CSSURL)s/common.css";
@import "%(CSSURL)s/validator.css";
@import "%(CSSURL)s/validator/base.css";
</style>
    <title>%(title)s</title>
  </head>

  <body>
        <div id="banner">
          <h1 id="title">
                  <a href="https://www.w3.org/"><img alt="W3C" width="110" height="61" id="logo" src="https://validator.w3.org/images/w3c.png" /></a>
    <a href="./"><span>Feed Validation Service</span></a>
    </h1>
    			  <p id="tagline">Check the syntax of Atom or RSS feeds</p>
        </div>

    <div id="main"><!-- This DIV encapsulates everything in this page - necessary for the positioning -->

