<status value="undef"/>
<message type="info">
	<title>It looks like this is a web page, not a feed.</title>
	<description>I looked for a feed associated with this page, but couldn't find one.  Please enter the address of your feed to validate.</description>
</message>
