<div class="centered">
<form id="validation" action="check.cgi" method="get">
<p>
<input name="url" id="url" type="text" size="55" maxlength="255" value="%(value)s" />&nbsp;<input type="submit" id="check" value="Check" />
</p>
</form>
</div>
